<div class="row">
    <div class="col-12">
        <h3 *ngIf="!role">Acciones</h3>
        <h3 *ngIf="role">Acciones de {{role.description}}</h3>
    </div>
    <div class="col-12 d-flex justify-content-end">
        <button class="btn btn-outline-primary" (click)="openSelector()">
            Agregar acción
        </button>
    </div>
    <div class="col-12">
        <table class="table">
            <thead>
                <tr>
                    <th>Descripcion</th>
                    <th></th>
                </tr>
            </thead>
            <tbody>
                <tr *ngFor="let entity of entities">
                    <td>{{entity.id}}</td>
                    <td class="text-right">
                        <div class="btn-group">
                        </div>
                    </td>
                </tr>
            </tbody>
        </table>
    </div>
</div>