<div class="row">
    <div class="col-12">
        <h3>Roles</h3>
    </div>
    <div class="col-12 d-flex justify-content-end">
        <button class="btn btn-outline-primary" (click)="openDialog()">Agregar rol</button>
    </div>
    <div class="col-12">
        <table class="table">
            <thead>
                <tr>
                    <th>Descripción</th>
                    <th>Fecha de creación</th>
                    <th>Estatus</th>
                    <th></th>
                </tr>
            </thead>
            <tbody>
                <tr *ngFor="let role of entities">
                    <td>{{role.description}}</td>
                    <td>{{role.insertDate | date: 'short'}}</td>
                    <td>{{role.status === 'A' ? 'Activo' : 'Inactivo'}}</td>
                    <td class="text-right">
                        <div class="btn-group" *ngIf="role.id">
                            <button class="btn btn-info" (click)="openDetails(role.id)">Detalles</button>
                            <button class="btn btn-primary" (click)="openDialog(role.id)">Editar</button>
                            <button class="btn btn-secondary" [routerLink]="['/', 'role-action', role.id]">Acciones</button>
                            <button class="btn" [ngClass]="role.status === 'A' ? 'btn-danger' : 'btn-success'" (click)="delete(role.id)">
                                {{role.status === 'A' ? 'Desactivar' : 'Activar'}}
                            </button>
                        </div>
                    </td>
                </tr>
            </tbody>
        </table>
    </div>
</div>